{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>
    .search-container {
      margin-bottom: 20px;
    }
  
    #searchInput {
      width: 250px;
      padding: 10px;
      font-size: 12px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
</style>

<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row">
            <div class="col-12 align-self-center" style="margin-top: -10px;">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0" style="font-size: 35px;">Dashboard</h4> <p style="font-size: 17px;">Welcome back, {{user.first_name}} {{user.last_name}}</p></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class='d-flex px-0 px-lg-2 py-2 align-self-center'>
                            <i class="fas fa-users card-liner-icon mt-2"></i>
                            <div class='card-liner-content'>
                                <h2 class="card-liner-title">{{player_count}}</h2>
                                <h6 class="card-liner-subtitle">Total Number of Players</h6>                                       
                            </div>                                
                        </div>
                        <div id="apex_today_order"></div>                               
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class='d-flex px-0 px-lg-2 py-2 align-self-center'>
                            <i class="fas fa-user-tie card-liner-icon mt-2"></i>
                            <div class='card-liner-content'>
                                <h2 class="card-liner-title">{{coach_count}}</h2>
                                <h6 class="card-liner-subtitle">Total Number of Coaches</h6> 
                            </div>                                
                        </div>
                        <div id="apex_today_visitors"></div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class='d-flex px-0 px-lg-2 py-2 align-self-center'>
                            <i class="fas fa-code-branch card-liner-icon mt-2"></i>
                            <div class='card-liner-content'>
                                <h2 class="card-liner-title">{{branches_count}}</h2>
                                <h6 class="card-liner-subtitle">Total Number of Branches</h6> 
                            </div>                                
                        </div>
                        <div id="apex_today_sale"></div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class='d-flex px-0 px-lg-2 py-2 align-self-center'>
                            <i class="fas fa-user-tie card-liner-icon mt-2"></i>
                            <div class='card-liner-content'>
                                <h2 class="card-liner-title">{{coach_count}}</h2>
                                <h6 class="card-liner-subtitle">Total Number of Coaches</h6> 
                            </div>                                
                        </div>
                        <div id="apex_today_profit"></div>
                    </div>
                </div>
            </div>
                    
            <div class="col-12 col-md-6 col-lg-8 mt-3">
                <div class="card">
                    <div class="card-header justify-content-between align-items-center">                               
                        <div class="d-flex align-items-center">
                            <h5 class="card-title mr-3"><i class="fas fa-users mr-2"></i> Players</h5> 
            
                            <input type="text" style="border-radius:30px; margin-left:750px;" id="searchInput" placeholder="Search...">
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">                         
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Category</th>
                                    <th>Branch</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for player in players %}
                                <tr class="ng-scope">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{player.full_name}}</td>
                                    <td>{{player.player_position}}</td>
                                    <td>{{player.player_category}}</td>
                                    <td>{{player.player_branch}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            

        </div>
        <!-- END: Card DATA-->                 
    </div>
</main>
<!-- END: Content-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#searchInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("table tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
    });
    });
});
</script>



{% endblock %}