{% block spinner %}
  <div id="spinner"
       style="margin: auto; display: none; align-items: center; justify-content: center; text-align: center; width: 100%;">
    <div class="spinner-grow text-primary" role="status">
    </div>
    <div class="spinner-grow text-secondary" role="status">
    </div>
    <div class="spinner-grow text-success" role="status">
    </div>
    <div class="spinner-grow text-danger" role="status">
    </div>
    <div class="spinner-grow text-warning" role="status">
    </div>
  </div>
{% endblock spinner %}