{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12" style="margin-top:50px;">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center left"> 
                        <h4 class="card-title" style="font-size:20px;"><i class="fas fa-users mr-3"></i><b>Coaches in Altar Sports Academy</b></h4>

                        {% if user.is_authenticated %}        
                        <button data-toggle="modal" data-target="#cancel" class="btn btn-primary rounded-btn mb-2 " style="float:right;"><i class="fas fa-plus-circle mr-2"></i>Register Coach</button>
                        {% endif %} 
                    </div>
                    <div class="card-body">

                        <div class="row mb-2 mt-2">
                            <div class="d-flex flex-column col-md-6 col-sm-12">
                              <label for="search-type"><b>Search</b></label>
                              <select class="form-control" id="search-type"></select>
                            </div>
                            <div class="col-2">
                              <label for="search-type">&nbsp;</label>
                              <a type="button" class="form-control btn btn-primary text-white" id="search-value"
                                 href="{% url 'coaches' %}">Active</a>
                            </div>
                            <div class="col-2">
                              <label for="type">&nbsp;</label>
                              <a type="button" class="form-control btn btn-secondary text-white" id="show-inactive">
                                  Deactivated
                              </a>
                            </div>
                        </div>

                        <div class="table-responsive">

                            {% block messages %}
                            {% include 'app/partials/messages.html' %}
                            {% endblock %}
                            
                            <table id="example" class="display table dataTable table-striped table-bordered" >
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th style="font-size: 15px;">Name</th>
                                        <th style="font-size: 15px;">Phone Number</th>
                                        <th style="font-size: 15px;">Coaching Branch</th>
                                        <th style="font-size: 15px;">Coaching Category</th>
                                        <th style="font-size: 15px;">Date Joined</th>
                                        <th style="font-size: 15px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for coach in coaches %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td> {{coach.full_name}} </td>
                                        <td> {{coach.phone_number}} </td>
                                        <td> {{coach.coaching_branch}} </td>
                                        <td> {{coach.coaching_category}} </td>
                                        <td> {{coach.date_joined}}</td>
                                        <td>
                                            <a href="" class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#edit{{ coach.id }}" title="Edit"><i class="fa fa-edit"></i></a>
                                            {% if coach.is_active == True %}
                                            <form method="post" action="{% url 'deactivate_coach' coach.pk %}" style="display: inline-block;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm" title="Deactivate">
                                                    <i class="fa fa-ban"></i>
                                                </button>
                                            </form>
                                            {% else %}
                                            <form method="post" action="{% url 'reactivate_coach' coach.pk %}" style="display: inline-block;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success btn-sm" title="Reactivate">
                                                    <i class="fa fa-check-circle"></i>
                                                </button>
                                            </form>
                                            {% endif %}

                                        </td>
                                    </tr>


                                    <!-- Edit Coach -->
                                    <div class="modal fade" id="edit{{ coach.id }}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">
                                                        <i class="fas fa-edit mr-2"></i> Edit Coach
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                </div>
                                                <form class="add-note-form" action="{% url 'coaches' %}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="edit_coach" value="true">
                                                    <input type="hidden" name="coach_id" value="{{ coach.id }}">
                                                    <div class="modal-body">                                               
                                                        <div class="form-group">
                                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Full Name:</label>
                                                            <input type="text" name="full_name" value="{{ coach.full_name }}" class="form-control">
                                                        </div> 
                                                        <div class="form-group">
                                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Phone Number:</label>
                                                            <input type="text" name="phone_number" value="{{ coach.phone_number }}" class="form-control">
                                                        </div> 
                                                        <!-- <div class="form-group">
                                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Coach Image:</label>
                                                            <input type="text" name="coach_image" value="{{ coach.coach_image }}" class="form-control">
                                                            <p>{{form.coach_image}}</p>
                                                        </div>  -->
                                                        <!-- <div class="form-group">
                                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Resume:</label>
                                                            <input type="text" name="cv" value="{{ coach.cv }}" class="form-control">
                                                            <p>{{form.cv}}</p>
                                                        </div> -->
                                                        <div class="form-group">
                                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Coaching Branch:</label>
                                                            <select name="coaching_branch" class="form-control">
                                                                {% for branch in form.fields.coaching_branch.queryset %}
                                                                    <option value="{{ branch.pk }}" {% if branch.pk == coach.coaching_branch.pk %}selected{% endif %}>{{ branch.branch }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div> 
                                                        <div class="form-group">
                                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Coaching Category:</label>
                                                            <select name="coaching_category" class="form-control">
                                                                {% for category in form.fields.coaching_category.queryset %}
                                                                    <option value="{{ category.pk }}" {% if category.pk == coach.coaching_category.pk %}selected{% endif %}>{{ category.category }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>                                         
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success">Edit Coach</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <!-- <th>#</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>
                                        <th>Coaching Branch</th>
                                        <th>Coaching Category</th>
                                        <th>Date Joined</th>
                                        <th>Actions</th> -->
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <!-- Register Coach -->
                    <div class="modal fade" id="cancel">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        <i class="fas fa-plus-circle mr-2"></i> Register Coach
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="icon-close"></i>
                                    </button>
                                </div>
                                <form class="add-note-form" action="{% url 'coaches' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="add_coach" value="true">
                                    <div class="modal-body">                                               
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Full Name:</label>
                                            <p>{{form.full_name}}</p>
                                        </div> 
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Phone Number:</label>
                                            <p>{{form.phone_number}}</p>
                                        </div> 
                                        <!-- <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Coach Image:</label>
                                            <p>{{form.coach_image}}</p>
                                        </div>  -->
                                        <!-- <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Resume:</label>
                                            <p>{{form.cv}}</p>
                                        </div> -->
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Coaching Branch:</label>
                                            <p>{{form.coaching_branch}}</p>
                                        </div> 
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Coaching Category:</label>
                                            <p>{{form.coaching_category}}</p>
                                        </div>                                         
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Register Coach</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div> 

            </div>                  
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<!-- END: Content-->


<script>
    $(document).ready(function () {
        $('#search-type').select2({
          placeholder: 'Search coach',
          allowClear: true,
          width: '100%',
          ajax: {
            url: '?action=get_coaches',
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                q: params.term,
              };
            },
            processResults: function (data, params) {
              return {
                results: data.coaches,
              };
            },
            cache: true
          },
        });

        $('#search-type').on('select2:select', function (e) {
            var selectedAgentId = e.params.data.id;
            var newUrl = "{% url 'coaches' %}?filter=" + selectedAgentId;
            window.location.href = newUrl;
          });

    });

    // Filter Inactive
    $('#show-inactive').on('click', function () {
      window.location.href = "{% url 'coaches' %}?filter=inactive";
    });

    // Loading text
    $('#agentForm').submit(function() {
        var submitButton = $('#agentButton');
        var loadingText = "Creating agent account...";
        displayLoadingText(submitButton, loadingText, true);
    });

</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("table tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
    });
</script>

<!-- START: Template JS-->
<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static '/vendors/moment/moment.js' %}"></script>
<script src="{% static '/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static '/vendors/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- END: Template JS-->

<!-- START: APP JS-->
<script src="{% static '/js/app.js' %}"></script>
<!-- END: APP JS-->

<!-- START: Page Vendor JS-->
<script src="{% static '/vendors/datatable/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static '/vendors/datatable/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/jszip/jszip.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.html5.min.js' %}"></script>
<!-- <script src="{% static '/vendors/datatable/buttons/js/buttons.print.min.js' %}"></script> -->
<!-- END: Page Vendor JS-->

<!-- START: Page Script JS-->        
<script src="{% static '/js/datatable.script.js' %}"></script>
<!-- END: Page Script JS-->

{% endblock %}