{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Training Details</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Training</li>
                        <li class="breadcrumb-item active">Training Details</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12 col-md-6 mt-3">
                <div class="card">
                    <div class="card-header  justify-content-between align-items-center">                               
                        <h4 class="card-title">Training Information</h4> 

                        {% if user.is_authenticated %}
                        <button data-toggle="modal" data-target="#cancel" class="btn btn-primary rounded-btn mb-2" style="float:right;"><i class="fas fa-edit" style="margin-right:9px;"></i>Edit Training Session</button>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <dl class="row mb-0 redial-line-height-2_5">
                            <dt class="col-sm-5">Training Date:</dt>
                            <dd class="col-sm-7">{{training.date}}</dd>

                            <dt class="col-sm-5">Start Time:</dt>
                            <dd class="col-sm-7">{{training.start_time}}</dd>

                            <dt class="col-sm-5">End Time:</dt>
                            <dd class="col-sm-7">{{training.end_time}}</dd>

                            <dt class="col-sm-5">Location:</dt>
                            <dd class="col-sm-7">{{training.location}}</dd>

                            <dt class="col-sm-5">Status</dt>
                            <dd class="col-sm-7"><span class="badge badge-primary text-white">Shipped</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- END: Card DATA--> 
    </div>


    <!-- Edit Training Session -->
    <div class="modal fade" id="cancel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-edit mr-2"></i> Edit Training Session
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon-close"></i>
                    </button>
                </div>
                <form class="add-note-form" action="{% url 'training_details' training.id %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">                                               
                        <div class="form-group">
                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Notes:</label>
                            <p>{{form.notes}}</p>
                        </div>
                        <div class="form-group">
                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Highlights:</label>
                            <p>{{form.highlights}}</p>
                        </div>                                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- END: Content-->


<!-- START: Template JS-->
<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/vendors/moment/moment.js' %}"></script>
<script src="{% static '/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static '/vendors/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- END: Template JS-->

<!-- START: APP JS-->
<script src="{% static '/js/app.js' %}"></script>
<!-- END: APP JS-->

{% endblock %}