{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- jQuery -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

<!-- SELECT2 -->
<link rel="stylesheet" href="{% static '/js/select2/select2.min.css' %}">
<script src="{% static '/js/select2/select2.min.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>

<!-- DATERANGEPICKER -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Card Data -->
        <div class="row">
            <div class="col-12" style="margin-top:50px;">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title" style="font-size: 20px;"><i class="fas fa-list mr-2"></i>Training Records</h4> 
                    
                        {% if user.is_authenticated %}
                        <button data-toggle="modal" data-target="#cancel" class="btn btn-primary rounded-btn mb-2" style="float:right;">
                            <i class="fas fa-plus-circle" style="margin-right:9px;"></i>Schedule Training
                        </button>
                        {% endif %}
                        
                    </div>
                    
                    <div class="card-body">  

                        {% block messages %}
                        {% include 'partials/messages.html' %}
                        {% endblock messages %}

                        <div class="row g-3 mb-4 d-flex">
                            <div class="col-lg-4 col-sm-12 col-md-4">
                              <p><b>Filter by date</b></p>
                              <input type="text" class="form-control" id="datepicker" name="datepicker" placeholder="Select Date">
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-4">
                                <p><b>Filter by branch</b></p>
                                <input type="text" class="form-control" id="filter_branch" name="filter_branch">
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="example" class="display table dataTable table-striped table-bordered" >
                                <thead>
                                    <tr class="table-primary">
                                        <th scope="col">#</th>
                                        <th style="font-size: 15px;">Branch</th>
                                        <th style="font-size: 15px;">Date</th>
                                        <th style="font-size: 15px;">Start Time</th>
                                        <th style="font-size: 15px;">End Time</th>
                                        <th style="font-size: 15px;">Location</th>
                                        <th style="font-size: 15px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="table-notes">
                                    
                                </tbody>
                            </table>
                            {% include 'partials/spinner.html' %}

                            
                        </div>
                    </div>

                    <!-- Schedule Training -->
                    <div class="modal fade" id="cancel">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        <i class="fas fa-clock mr-2"></i> Schedule Training
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="icon-close"></i>
                                    </button>
                                </div>
                                <form class="add-note-form" action="{% url 'training_management' %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body"> 
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Branch:</label>
                                            <p>{{form.training_branch}}</p>
                                        </div>                                                
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Date:</label>
                                            <p>{{form.date}}</p>
                                        </div>  
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Start Time:</label>
                                            <p>{{form.start_time}}</p>
                                        </div> 
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">End Time:</label>
                                            <p>{{form.end_time}}</p>
                                        </div>  
                                        <div class="form-group">
                                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Location:</label>
                                            <p>{{form.location}}</p>
                                        </div>                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Schedule Training</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div> 

            </div>                  
        </div>
        <!-- END: Card DATA-->
    </div>


<!-- SCRIPTS -->
<script>
    // Setting daterangepicker
    $('#datepicker').daterangepicker({
        autoUpdateInput: true,
        locale: {
          format: 'YYYY-MM-DD'
        },
        // Setting start date to today
        startDate: moment().startOf('day'),
    });

    var state = {
        enableSelect: false,
        trainings: [],
        selectedNotes: [],
        rows: 15,
        page: 1,
        setPage: function (currentPage) {
          state = {
            ...state,
            page: currentPage
          };
        },
        setRows: function (row) {
          state = {
            ...state,
            rows: !isNaN(row) ? row : 0
          };
          state.events("rowChanged", row);
        },
        setSelectedNotes: function (data, event) {
          var new_notes = [];
          if (event) {
            new_notes = state.trainings.filter(note => note.pk === data);
          } else {
            new_notes = state.selectedNotes.filter(note => note.pk !== data);
          }

          state = {
            ...state,
            selectedNotes: new_notes
          }
          state.events("notesAdded");
        },
        setSelectedNotesAll: function (status) {
          if (status) {
            state = {
              ...state,
              selectedNotes: state.trainings
            }
          } else {
            state = {
              ...state,
              selectedNotes: []
            }
          }
          state.events("notesAdded");
        },
        setNotes: function (data) {
          state = {
            ...state,
            trainings: data
          }
        },
        setEnableSelect: function (value) {
          state = {
            ...state,
            enableSelect: value
          };
          state.events('enabled', value);
        },
        
        fetchData: function (data) {
          $('#spinner').show();
          var {page, rows} = state;
          var date = $('#datepicker').val();
          var branch = $('#filter_branch').val() ;

          var query = '?action=filter&date=' + date + '&page=' + page + '&rows=' + rows;
          
          if (branch.length > 0) {
            query += '&branch=' + branch;
          }

          $.ajax({
            url: query,
            type: 'GET',
            data: data ? {data: JSON.stringify(data)} : undefined,

            success: function (data) {
              console.log("DATAAA:", data)
              $('#spinner').hide();
              
              if (data?.action) {

              } else {
                let options = '';
                state.setNotes(data.trainings);
                if (data.trainings.length > 0) {
                  data.trainings.forEach(function (loader) {
                    console.log("LOADER OBJECT: ", loader)
                    options += generate_table({
                      loader: loader,
                    });
                  });
                  options += '<tr>';
                  options += '</td>';
                  options += '</tr>';
                } else {
                  options += '<tr><td colspan="17">No Training Sessions Today</td></tr>'
                }
                $('#table-notes').html(options);
                $('#remove').remove();
                $('#paginator').append(element);
              }
            }
          });
        },

        events: function (event, data) {
          if (event === "enabled") {
          } else if (event === "rowChanged") {
            state.fetchData();
          } else if (event === "notesAdded") {
          }
        }
    };

    var {fetchData, setEnableSelect, setNotes, setPage, setSelectedNotesAll, setSelectedNotes, setRows} = state;

    // Filtering by Branch
    $(document).ready(function() {
        $('#filter_branch').select2({
            placeholder: 'Search by branch',
            width: '100%',
            ajax: {
                url: '?action=get_branches',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                      q: params.term, // search term
                      date: $('#datepicker').val()
                    };
                  },
                processResults: function(data, params) {
                    params.page = params.page || 1;
                    var branches = data.branches.map(function(branch){
                        return {
                            id: branch.id,
                            text: branch.branch_name
                        };
                    });
                    return {
                        results: branches,
                        
                    };
                    console.log("BRANCHES RESULTS: ", results)
                },
                cache: true
            },
        })
    });

    $('#filter_branch').on('change', function () {
        fetchData();

        var selectedBranch = $('#filter_branch').select2('data');
        if (selectedBranch && selectedBranch.length > 0) {
            $('#filter_branch').val(selectedBranch[0].text);
        } else {
            $('#filter_branch').val('');
        }
    })

    $('#datepicker').change(function () {
        fetchData();
    });

    // Initial fetch data
    fetchData();

    // Next page function
    function nextPage(n_page) {
        setPage(n_page);
        fetchData();
    }

    // URLs
    var protocol = window.location.protocol;
    var host = window.location.host;
    var url_view = protocol + "//" + host + "/training_details/";
   
    function generate_table({loader, total_value, counter} = {}) {
        var {enableSelect} = state;
        let options = '';
        options += '<tr>';
        options += '<th scope="row">' + '#' + '</th>';
        options += '<td>' + loader.training_branch + '</td>';
        options += '<td>' + loader.date + '</td>';
        options += '<td>' + loader.start_time + '</td>';
        options += '<td>' + loader.end_time + '</td>';
        options += '<td>' + loader.location + '<td>';
        options += '<a href="' + url_view + loader.pk + '" class="dropdown-item" title="View Details"><i class="dropdown-icon fa fa-eye"></i> </a>';
        options += '</td>';
        options += '</tr>';
        return options;
    }

</script>


</main>
<!-- END: Content-->



{% endblock %}