{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12 col-md-6 mt-3 mx-auto">
                <div class="card">
                    <div class="card-header justify-content-between align-items-center">                               
                        <h4 class="mb-0 card-title"><i class="fas fa-chalkboard-teacher mr-3"></i>{{training}}</h4>

                        {% if user.is_authenticated %}
                        <button data-toggle="modal" data-target="#cancel" class="btn btn-primary rounded-btn mb-2" style="float:right;"><i class="fas fa-edit" style="margin-right: 9px;"></i>Edit Training Session</button>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>Training Date:</th>
                                <td>{{ training.date }}</td>
                            </tr>
                            <tr>
                                <th>Start Time:</th>
                                <td>{{ training.start_time }}</td>
                            </tr>
                            <tr>
                                <th>End Time:</th>
                                <td>{{ training.end_time }}</td>
                            </tr>
                            <tr>
                                <th>Location:</th>
                                <td>{{ training.location }}</td>
                            </tr>
                            {% if training.notes %}
                            <tr>
                                <th>Notes:</th>
                                <td>{{ training.notes }}</td>
                            </tr>
                            {% endif %}
                            {% if training.highlights %}
                                <tr>
                                    <th>Highlights:</th>
                                    <td>
                                        <a href="{{training.highlights.url}}" download target="_blank" style="color: red;">{{ training.highlights.name }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    
                </div>
            </div>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- END: Card DATA--> 
    </div>


    <!-- Edit Training Session -->
    <div class="modal fade" id="cancel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-edit mr-2"></i> Edit Training Session
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon-close"></i>
                    </button>
                </div>
                <form class="add-note-form" action="{% url 'training_details' training.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">                                               
                        <div class="form-group">
                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Notes:</label>
                            <p>{{form.notes}}</p>
                        </div>
                        <div class="form-group">
                            <label for="shift_name" class="col-form-label" style="font-size: medium;">Highlights:</label>
                            <p>{{form.highlights}}</p>
                        </div>                                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- END: Content-->


<!-- START: Template JS-->
<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/vendors/moment/moment.js' %}"></script>
<script src="{% static '/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static '/vendors/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- END: Template JS-->

<!-- START: APP JS-->
<script src="{% static '/js/app.js' %}"></script>
<!-- END: APP JS-->

{% endblock %}