{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12" style="margin-top:50px;">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center left"> 
                        <h4 class="card-title" style="font-size:20px;"><i class="fas fa-users mr-3"></i><b>Players in Altar Sports Academy</b></h4>

                        {% if user.is_authenticated %}        
                        <button class="btn btn-primary rounded-btn mb-2 " style="float:right;"><a href="{%url 'add_player'%}"><i class="fas fa-plus-circle mr-2"></i>Register Player</a></button>
                        {% endif %} 
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <table id="example" class="display table dataTable table-striped table-bordered" >
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th style="font-size: 15px;">Name</th>
                                        <th style="font-size: 15px;">Date of Birth</th>
                                        <th style="font-size: 15px;">Position</th>
                                        <th style="font-size: 15px;">Category</th>
                                        <th style="font-size: 15px;">Branch</th>
                                        <th style="font-size: 15px;">Date Joined</th>
                                        <th style="font-size: 15px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in players %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td> {{player.full_name}} </td>
                                        <td> {{player.date_of_birth}} </td>
                                        <td> {{player.player_position}}</td>
                                        <td> {{player.player_category}} </td>
                                        <td> {{player.player_branch}} </td>
                                        <td> {{player.date_joined}} </td>
                                        <td>
                                            <a href="{% url 'player_details' player.id %}" class="btn btn-secondary btn-sm mr-3" title="View Details"><i class="fas fa-eye"></i></a>
                                            <a href="{% url 'edit_player' player.id %}" class="btn btn-primary btn-sm mr-3" title="Edit"><i class="icon-pencil"></i></a>
                                            <a href="" data-toggle="modal" data-target="#delete{{ player.id }}" class="btn btn-danger btn-sm mr-3" title="Delete"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>


                                    <!-- Delete Player Modal -->
                                    <div class="modal fade" id="delete{{ player.id }}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">
                                                        <i class="fas fa-trash mr-2"></i> Delete Player
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                </div>
                                                <form class="add-note-form" action="{% url 'delete_player' player.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="edit_category" value="true">
                                                    <input type="hidden" name="player_id" value="{{ player.id }}">
                                                    <div class="modal-body">    
                                                        <p>Are you sure you want to delete {{player.full_name}}?</p>                                           
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    {%endfor%}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                        <th>Position</th>
                                        <th>Category</th>
                                        <th>Branch</th>
                                        <th>Date Joined</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div> 

            </div>                  
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<!-- END: Content-->


<script>

</script>

<!-- START: Template JS-->
<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static '/vendors/moment/moment.js' %}"></script>
<script src="{% static '/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static '/vendors/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- END: Template JS-->

<!-- START: APP JS-->
<script src="{% static '/js/app.js' %}"></script>
<!-- END: APP JS-->

<!-- START: Page Vendor JS-->
<script src="{% static '/vendors/datatable/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static '/vendors/datatable/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/jszip/jszip.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.print.min.js' %}"></script>
<!-- END: Page Vendor JS-->

<!-- START: Page Script JS-->        
<script src="{% static '/js/datatable.script.js' %}"></script>
<!-- END: Page Script JS-->

{% endblock %}