{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12" style="margin-top:50px;">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center left"> 
                        <h4 class="card-title" style="font-size:20px;"><i class="fas fa-users mr-3"></i><b>Players in Altar Sports Academy</b></h4>

                        {% if user.is_authenticated %}        
                        <button class="btn btn-primary rounded-btn mb-2 " style="float:right;"><a href="{%url 'add_player'%}"><i class="fas fa-plus-circle mr-2"></i><b>Register Player</b></a></button>
                        {% endif %} 
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <table id="example" class="display table dataTable table-striped table-bordered" >
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th style="font-size: 15px;">Name</th>
                                        <th style="font-size: 15px;">Date of Birth</th>
                                        <th style="font-size: 15px;">School</th>
                                        <th style="font-size: 15px;">Position</th>
                                        <th style="font-size: 15px;">Category</th>
                                        <th style="font-size: 15px;">Date Joined</th>
                                        <th style="font-size: 15px;">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in players %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td> {{player.full_name}} </td>
                                        <td> {{player.date_of_birth}} </td>
                                        <td> {{player.school_attended}} </td>
                                        <td> {{player.player_position}}</td>
                                        <td> {{player.player_category}} </td>
                                        <td> {{player.date_joined}} </td>
                                        <td><a href="{% url 'player_details' player.id %}" class="dropdown-item px-2 align-self-center d-flex"><span class="far fa-eye mr-2 h6 mb-0" title="View Details"></span></a></td>

                                        <!-- <td><a href="" class="dropdown-item px-2 align-self-center d-flex"><span class="icon-pencil mr-2 h6 mb-0"></span></a></td>
                                        <td><a href="" class="dropdown-item px-2 text-danger align-self-center d-flex">
                                                <span class="fas fa-ban mr-2 h6  mb-0"></span></a></td> -->
                                    </tr>
                                    {%endfor%}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                        <th>School</th>
                                        <th>Position</th>
                                        <th>Category</th>
                                        <th>Date Joined</th>
                                        <th>View</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div> 

            </div>                  
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<!-- END: Content-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("table tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
    });
</script>

<!-- START: Template JS-->
<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static '/vendors/moment/moment.js' %}"></script>
<script src="{% static '/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static '/vendors/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- END: Template JS-->

<!-- START: APP JS-->
<script src="{% static '/js/app.js' %}"></script>
<!-- END: APP JS-->

<!-- START: Page Vendor JS-->
<script src="{% static '/vendors/datatable/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static '/vendors/datatable/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/jszip/jszip.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.print.min.js' %}"></script>
<!-- END: Page Vendor JS-->

<!-- START: Page Script JS-->        
<script src="{% static '/js/datatable.script.js' %}"></script>
<!-- END: Page Script JS-->

{% endblock %}