{% extends 'base.html' %}
{% load static %}
{% block content %}




<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0"><i class="fas fa-user mr-3"></i>Player Details</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Player</li>
                        <li class="breadcrumb-item">View</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="center-div">
            <div class="row">
                <div class="col-12 col-md-6 mt-3 mx-auto">
                    <div class="card">
                        <div class="card-header justify-content-between align-items-center">
                            <h4 class="card-title">{{ player.full_name }}'s Information</h4>
                        </div>
                        <div class="card-body">
                            <table id="example" class="display table dataTable table-striped table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Full Name:</th>
                                        <td>{{ player.full_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date of Birth:</th>
                                        <td>{{ player.date_of_birth }}</td>
                                    </tr>
                                    <tr>
                                        <th>Home Address:</th>
                                        <td>{{ player.home_address }}</td>
                                    </tr>
                                    <tr>
                                        <th>School Attended:</th>
                                        <td>{{ player.school_attended }}</td>
                                    </tr>
                                    <tr>
                                        <th>Player Position:</th>
                                        <td>{{ player.player_position }}</td>
                                    </tr>
                                    <tr>
                                        <th>Player Category:</th>
                                        <td>{{ player.player_category }}</td>
                                    </tr>
                                    <tr>
                                        <th>Medical Condition:</th>
                                        <td>{% if player.medical_condition %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    {% if player.medical_condition %}
                                    <tr>
                                        <th>Medical Condition Details:</th>
                                        <td>{{ player.medical_condition_details }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Parent's Full Name:</th>
                                        <td>{{ player.parent_full_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Parent's Phone Number:</th>
                                        <td>{{ player.parent_phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <th>Emergency Contact:</th>
                                        <td>{{ player.emergency_contact }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email Address:</th>
                                        <td>{{ player.email_address }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date Joined:</th>
                                        <td>{{ player.date_joined }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <form method="post" action="">
                            {% csrf_token %}
                            <button class="btn btn-primary"><i class="fas fa-print mr-2 mb-0"></i>Generate PDF</button>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <!-- END: Card DATA--> 
    </div>
</main>
<!-- END: Content-->




<!-- START: Template JS-->
<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static '/vendors/moment/moment.js' %}"></script>
<script src="{% static '/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static '/vendors/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- END: Template JS-->

<!-- START: APP JS-->
<script src="{% static '/js/app.js' %}"></script>
<!-- END: APP JS-->

<!-- START: Page Vendor JS-->
<script src="{% static '/vendors/datatable/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static '/vendors/datatable/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/jszip/jszip.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.print.min.js' %}"></script>
<!-- END: Page Vendor JS-->

<!-- START: Page Script JS-->        
<script src="{% static '/js/datatable.script.js' %}"></script>
<!-- END: Page Script JS-->


{% endblock %}