{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altar Sports Academy</title>
    <link rel="shortcut icon" href="{%static '/images/altar_logo.jpeg'%}" />

    <!-- START: Template CSS-->
    <link rel="stylesheet" href="{%static '/vendors/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static '/vendors/jquery-ui/jquery-ui.min.css'%}">
    <link rel="stylesheet" href="{%static '/vendors/jquery-ui/jquery-ui.theme.min.css'%}">
    <link rel="stylesheet" href="{%static '/vendors/simple-line-icons/css/simple-line-icons.css'%}">        
    <link rel="stylesheet" href="{%static '/vendors/flags-icon/css/flag-icon.min.css'%}"> 
    <link rel="stylesheet" href="{%static '/vendors/fontawesome/css/all.min.css'%}">
    <!-- END Template CSS-->     

    <!-- START: Page CSS-->   
    <link rel="stylesheet" href="{%static '/vendors/social-button/bootstrap-social.css'%}"/>   
    <!-- END: Page CSS-->

    <!-- START: Custom CSS-->
    <link rel="stylesheet" href="{%static '/css/main.css'%}">
    <!-- END: Custom CSS-->
</head>
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="alert alert-info">
                            Your password has been reset. You may go ahead and <a href="{% url 'login' %}" class="alert-link">login here</a> with your new password
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>