{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .search-container {
      margin-bottom: 20px;
    }
  
    #searchInput {
      width: 300px;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #ccc;
      float: right;
    }
</style>

<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12 col-md-6 mt-3 mx-auto">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 card-title"><i></i>Attendance Record for - {{ session }}</h4>

                        {% if user.is_authenticated %}
                        <button data-toggle="modal" data-target="#cancel" class="btn btn-primary rounded-btn mb-2" style="float:right;"><i class="fas fa-clipboard-check" style="margin-right: 9px;"></i>Mark Attendance</button>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mr-3">Attendance List:</h5>
                            <input type="text" style="position:relative; border-radius:30px;" id="searchInput" placeholder="Search...">
                        </div>
                        
                        <table id="example" class="display table dataTable table-striped table-bordered" >
                            <thead>
                                <tr class="table-primary">
                                    <th style="font-size: 15px;">Player</th>
                                    <th style="font-size: 15px;">Attended</th>
                                    <th style="font-size: 15px;">Date Recorded</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for player, attendance in attendance_records.items %}
                                <tr>
                                  <td>{{ player.full_name }}</td>
                                  {% if attendance %}
                                    <td>{% if attendance.attended %} Yes {% else %} No {% endif %}</td>
                                    <td>{{ attendance.recorded_at }}</td>
                                  {% else %}
                                    <td>No</td>
                                    <td>N/A</td>
                                  {% endif %}
                                </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- END: Card DATA--> 
    </div>

    <!-- Mark Attendance -->
    <div class="modal fade" id="cancel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-clipboard-check mr-2"></i> Mark Attendance
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon-close"></i>
                    </button>
                </div>
                <form class="add-note-form" action="{% url 'record_attendance' session.id %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save Attendance</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</main>
<!-- END: Content-->

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("table tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
    });
</script>

<!-- START: Template JS-->
<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/vendors/moment/moment.js' %}"></script>
<script src="{% static '/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static '/vendors/slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- END: Template JS-->

<!-- START: APP JS-->
<script src="{% static '/js/app.js' %}"></script>
<!-- END: APP JS-->

{% endblock %}