{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .search-container {
      margin-bottom: 20px;
    }
  
    #searchInput {
      width: 300px;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
</style>

<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <!-- <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Building</li>
                        <li class="breadcrumb-item active"><a>Visitors</a></li>
                    </ol>
                </div>
            </div>
        </div> -->
        <!-- END: Breadcrumbs-->
        
        <!-- START: Card Data -->
        <div class="row">
            <div class="col-12" style="margin-top:50px;">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">                             
                        <h4 class="card-title" style="font-size:20px;"><i class="fas fa-list mr-2"></i> Attendance Records</h4> 

                        <input type="text" style="position:relative; border-radius:30px;" id="searchInput" placeholder="Search...">
                    </div>
                    <div class="card-body">                      
                        <div class="table-responsive">
                            <table id="example" class="display table dataTable table-striped table-bordered" >
                                <thead>
                                    <tr class="table-primary">
                                        <th scope="col">#</th>
                                        <th style="font-size: 15px;">Training Session</th>
                                        <th style="font-size: 15px;">Players Attended</th>
                                        <th style="font-size: 15px;">Date Recorded</th>
                                        <th style="font-size: 15px;">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for session in sessions %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{session}}</td>
                                        <td>{{session.players.count}}</td>
                                        <td>{% if session.session_attendance.last.recorded_at %} {{session.session_attendance.last.recorded_at}} {% else %} N/A {% endif %}</td>
                                        <td><a href="{% url 'record_attendance' session.id %}" class="dropdown-item px-2 align-self-center d-flex"><span class="far fa-eye mr-2 h6 mb-0" title="View Details"></span></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div> 

            </div>                  
        </div>
        <!-- END: Card DATA-->
    </div>

</main>
<!-- END: Content-->


<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("table tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
    });
</script>


{% endblock %}